.transactionTable {
  border-collapse: collapse;
  min-width: 700px;
  margin: 40px auto;
}

.transactionTable th {
  background-color: #d3d3d3;
  color: #000000;
}

.transactionTable th,
.transactionTable td {
  border: 2px solid #000000;
  text-align: center;
  font-size: x-large;
}

.transactionTable tr:nth-child(even) {
  background-color: #808080;
}

.transactionTable tr td:first-child {
  text-transform: capitalize;
  font-weight: bold;
}
